<h2>@ViewBag.BookTitle</h2>
<h5>By: @ViewBag.Author</h5>

<img src="~/Uploads/@ViewBag.Image" asp-append-version="true" class="image-detail" height="500" width="400" />
<div>

    <p>@ViewBag.Desc</p>
    <p>Copy of Book: @ViewBag.Copy</p>
    <h6>Cost: @ViewBag.Cost</h6>

    <button type="submit">Send Request</button>
</div>

<a asp-controller="Home" asp-action="Index">Back to List</a>
